# Data
data/

# Virtual Environments
myenv/

# Python cache files
__pycache__/
*.py[cod]
.mypy_cache/

# Pre-commit cache
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# DS Store
.DS_Store

# Ignore weights
*.pth